In [1]:
##1

In [2]:
#values='hello', -87.8,6
#expressions= *,-,/,+

In [3]:
##2

In [4]:
#String is any set of alphabets or just one alphabets which is inside the inverted commas.
#Variables are used to denote functions, for example a="sun", here 'a' is a variable and "sun" is a string.

In [5]:
##3

In [7]:
#The three data types are 
#Sting data type= str
#numeric data type= int,float,complex
#sequence data type= list,tupple,range

In [8]:
##4

In [9]:
#Expressions are made up of mathematical signs, 
#They perform mathematical, logical and relational operations.

In [10]:
##5

In [11]:
#The major difference between statement and expression is that Statement is a complete line of code 
#while expression is a section of the code. if you execute a statement it may or may not produce value
#but and expression will always produce a value.

In [12]:
##6

In [13]:
#The last value of bacon=23

In [14]:
##7

In [15]:
#Both the epxression will have same value
'spam'+'spamspam'

'spamspamspam'

In [16]:
'spam'*3

'spamspamspam'

In [17]:
##8

In [18]:
#the reason 'eggs' is a valid variable and '100' is not because 'eggs' is a string,
#and strings can act as variables to store value in it
#while '100' is itself a numeric value , it cannot hold another value in it.

In [19]:
##9

In [20]:
#The fuction that be used to get an integer is "int()"
#The fuction that be used to get a floating point number is "float()"
#The fuction that be used to get a string verion of a value is "str()"

In [21]:
#float() example
a=10

In [27]:
f=float(a)

In [28]:
print(type(f))
print(f)

<class 'float'>
10.0

In [29]:
#str() exmaple
s=str(a)

In [38]:
print(type(s))
print(s)

<class 'str'>
10

In [40]:
#int() example
c=23.2

In [45]:
i=int(c)

In [46]:
print(type(i))
print(i)

<class 'int'>
23

In [47]:
##10

In [48]:
#The expression "'i have eaten'+99+'burritos'" gives an error because of the '+' sign which is an expression
# and 99 is numeric value so compiler thinks here we have to perform addition operation instead of concatination.
#To fix the error we can convert '99' to string using 'str()''

In [55]:
s=str(99)
'i have eaten '+ s +' burritos.'

'i have eaten 99 burritos.'